@page "/editor/posts"
@inject Services.IPostService PostService
@attribute [Authorize]

@if (_posts.Count == 0)
{
    <p>Getting posts...</p>
}
else
{
    @foreach (BlazorBlog.Shared.Models.Post post in _posts)
    {
        <div class="card">
            <img src="@post.ImageUrl" class="card-img-top" alt="">
            <div class="card-body">
                <div>
                    <h5 class="card-title">@post.Title</h5>
                </div>
                <div>
                    <p class="card-text">@post.Description</p>
                </div>
                <div>
                    <a href="/editor/@post.Url" class="btn btn-warning">Edit...</a>
                </div>
            </div>
        </div>
    }
}

@code {
    private List<BlazorBlog.Shared.Models.Post> _posts = new List<BlazorBlog.Shared.Models.Post>();

    protected override async Task OnInitializedAsync()
    {
        _posts = await PostService.GetAllPosts();
    }
}