@page "/editor/posts"
@inject Services.IPostService PostService
@attribute [Authorize]

@if (_posts.Count == 0)
{
    <p>Getting posts...</p>
}
else
{
    <div class="cards">
        @if (_posts.Count == 0)
        {
            <div class="loading"></div>
            <p>Getting posts...</p>
        }
        else
        {
            @for (var i = 0; i < _posts.Count; i++)
            {
                var post = _posts[i];
                <div class="card post">
                    <a href="/editor/@post.Url">
                        <div class="card-image">
                            <img src="@post.ImageUrl" class="card-img-top" alt="">
                        </div>
                        <div class="card-header">
                            <h8 class="card-title">@post.Title</h8>
                        </div>
                        <div class="card-content">
                            <p class="card-text">@post.Description</p>
                        </div>
                    </a>
                </div>
            }
        }
    </div>
}

@code {
    private List<BlazorBlog.Shared.Models.Post> _posts = new List<BlazorBlog.Shared.Models.Post>();

    protected override async Task OnInitializedAsync()
    {
        _posts = await PostService.GetAllPosts();
    }
}