.cards {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-auto-rows: 280px;
    grid-gap: 5px;
}

.card {
    background-color: #79AADB;
    display: grid;
}

.card-header {
    text-transform: uppercase;
    align-self: end;
}

.card-image {
}
.card-image img {
    max-width: 200px;
}

.main-image img {
    max-width: 405px;
}

.main-image {
    grid-area: 1 / span 2;
}

.headshot {
    grid-area: 1 / 4;
    overflow: hidden;
    margin: 0 auto;
}

.about {
    grid-area: 1 / 3;
}

@media (max-width: 870px) {
    .cards {
        grid-template-columns: repeat(3, 200px);
    }

    .headshot {
        grid-area: 1 / 3;
    }

    .about {
        grid-area: 2 / 3;
    }
}

@media (max-width: 650px) {
    .cards {
        grid-template-columns: repeat(2, 200px);
    }

    .headshot {
        grid-area: 2 / 2;
    }

    .about {
        grid-area: 2 / 1;
    }

    .posts .card {
        grid-column: 1 / span 2;
    }
}