.pagetitle {
    grid-area: title;
    font-weight: 900;
    justify-self: center;
    align-self: center;
}

@media (max-width: 40.625rem) {
    .pagetitle {
        justify-self: left;
        align-self: start;
    }
}

.login {
    grid-area: login;
    margin-top: 0.313rem;
    margin-right: 1.25rem;
    align-self: end;
    justify-self: end;
}
.navbar {
    grid-area: navbar;
    margin-right: 1.25rem;
    display: flex;
    align-self: end;
    justify-self: end;
}
.navbar li {
    font-size: 1.563rem;
    font-weight: 700;
    list-style: none;
    padding: 0.313rem;
}