@import "header.css";
@import "cards.css";

.grid-box {
    min-width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-columns: minmax(20px, 0) auto minmax(20px, 0);
    grid-template-rows: 75px auto 35px;
    grid-template-areas: 
        ". header ."
        ". main ."
        ". footer .";
    justify-content: center;
}

main {
    grid-area: main;
}
header {
    margin-bottom: 5px;
    background-color: #7996F2;
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 25px 50px;
    grid-template-areas: 
            "title login"
            "title navbar";
}

footer {
    grid-area: footer;
    justify-self: center;
    align-self: end;
    margin-bottom: 0.625rem;
    margin-top: 0.625rem;
}

@media (max-width: 870px) {
    header {
        max-width: 610px;
    }
}

@media (max-width: 650px) {
    .grid-box {
        grid-template-columns: minmax(2px, 0) auto minmax(2px, 0);
        grid-template-rows: 100px auto 35px;
    }
    
    header {
        grid-template-columns: 1fr;
        grid-template-rows: 20px 45px 35px;
        grid-template-areas:
                "login"
                "title"
                "navbar"
    }
}