@import "header.css";
@import "cards.css";

.grid-box {
    min-width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-columns: minmax(1.25rem, 0) 50.938rem minmax(1.25rem, 0);
    grid-template-rows: 4.688rem auto 2.188rem;
    grid-template-areas: 
        ". header ."
        ". main ."
        ". footer .";
    justify-content: center;
}

main {
    grid-area: main;
}
header {
    margin-bottom: 0.313rem;
    background-color: #7996F2;
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.563rem 3.125rem;
    grid-template-areas: 
            "title login"
            "title navbar";
}

footer {
    grid-area: footer;
    justify-self: center;
    align-self: end;
    margin-bottom: 0.625rem;
    margin-top: 0.625rem;
}

@media (max-width: 54.375rem) {
    .grid-box {
        grid-template-columns: minmax(0.125rem, 0) 610px minmax(0.125rem, 0);
    }
}

@media (max-width: 40.625rem) {
    .grid-box {
        grid-template-columns: minmax(0.125rem, 0) 23.188rem minmax(0.125rem, 0);
        grid-template-rows: 6.25rem auto 2.188rem;
    }
    
    header {
        grid-template-columns: 1fr;
        grid-template-rows: 1.25rem 2.813rem 2.188rem;
        grid-template-areas:
                "login"
                "title"
                "navbar"
    }
}

@media (max-width: 22.5rem) {
    .grid-box {
        grid-template-columns: minmax(0.125rem, 0) 22.25rem minmax(0.125rem, 0);
    }
}