<div class="pagetitle">
    <h1><a href="">BlogBlog</a></h1>
</div>

<ul class="navbar">
    <li class="nav-item">
        <a class="nav-link" href="">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="">About</a>
    </li>
    <AuthorizeView>
    <li class="nav-item">
        <a class="nav-link" href="create">Create</a>
    </li>
    </AuthorizeView>
</ul>

<div class="login">
    <AccessControl />
</div>

@code {

}
