@inherits LayoutComponentBase

<div class="pagetitle header">
    <h1><a href="">BlogBlog</a></h1>
</div>

<ul class="navbar header">
    <li class="nav-item">
        <a class="nav-link" href="">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="">About</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="create">Create</a>
    </li>
    <li class="nav-item">
        <AccessControl />
    </li>
</ul>

<div class="main">
    <div class="content">
        @Body
    </div>
</div>
