@inherits LayoutComponentBase

<div class="grid-box">
    <header>
        <Header />
    </header>
    
    @Body
    
    <footer>
        <h6>@FooterMessage</h6>
    </footer>
</div>

@code {
        private const string FooterMessage = "@2021";
}

