@using BlazorBlog.Shared
@inject BlazorBlog.Client.Services.IPostService PostService

<h3>Posts</h3>

@foreach (var post in BlogPosts)
{
<div style="margin: 20px;">
    <div>
        <h3>@post.Title</h3>
    </div>
    <div>
        <h5>@post.Description</h5>
    </div>
    <div>
        <a href="/posts/@post.Url">Read More...</a>
    </div>
</div>
}

@code {
    private List<Post> BlogPosts = new List<Post>();

    protected override void OnInitialized()
    {
        BlogPosts = PostService.GetPosts();
    }
}